---
layout: style
---
.img-logo {
  width: 150px;
}

.navbar-brand {
  padding-top: 0px;
}

.feature-even {
  float: none;
}

.feature-odd {
  float: none;
}

@media(min-width:768px) {
  .feature-even {
    float: left;
  }

  .feature-odd {
    float: right;
  }
}
