<!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Regardless if you're a co-worker, reporting your hours on a daily basis, or if you're a consultant manager, compiling hours for your co-workers every month, Treks is the tool for you.</h3>
                </div>
            </div>

            <div class="row features-box">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <video autoplay loop muted poster="" id="background" width="400" class="feature-even">
                   <source src="{{ "/img/slack_intg.mp4" | prepend: site.baseurl }}" type="video/mp4">
                   <source src="{{ "/img/slack_intg.webm" | prepend: site.baseurl }}" type="video/webm">
                   <source src="{{ "/img/slack_intg.ogv" | prepend: site.baseurl }}" type="video/ogg">
                </video>
                <h4 class="service-heading">Slack integration</h4>
                <p class="text-muted">Logging hours at your terms. We love Slack and we know you love it too. Besides being able to log hours via the web or mobile app you can also log hours directly from Slack. Out bot will ask you each day on what you've been working on. If you should forget to log your hours our bot will be there to remind you.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row features-box">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <span class="fa-stack fa-4x feature-even">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Time to work</h4>
                <p class="text-muted">As a co-worker you would want to spend as little time as possible reporting your times. Therefore a lot of effort has been put into the registration forms to be as intuitive and speedy as possible.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row features-box">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <span class="fa-stack fa-4x feature-odd">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Overview and Drill Down</h4>
                <p class="text-muted">With the reports available in Treks you can quickly get an overview of reported times. You can view times from a co-worker or customer perspective. We calculate revenue and cost automatically.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row features-box">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <span class="fa-stack fa-4x feature-even">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-euro fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Integration with invoicing and salary software</h4>
                <p class="text-muted">Transfer time and salary data from Treks to your salary software and save time on administration.
                  Invoices can be sent directly from within Treks or invoice data can be transfered to your invoicing software.
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row features-box">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <span class="fa-stack fa-4x feature-odd">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Gamification combines business and pleasure</h4>
                <p class="text-muted">Treks creates engagement when reporting times by introducing competitive tasks and achievements.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

          </div>
        </div>
    </section>
