<!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Funktioner</h2>
                    <h3 class="section-subheading text-muted">Oavsett om du är medarbetare som redovisar tid på daglig basis eller om du är chef som sammanställer dina medarbetares tider varje månad så är Treks anpassat för dig.</h3>
                </div>
            </div>

            <div class="row features-box">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                </span>
              </div>
              <div class="col-md-8">
                <h5 class="service-heading text-muted">Registrering</h5>
                <h4 class="service-heading">Tid för arbete</h4>
                <p class="text-muted">Du som medarbetare ska spendera så lite tid som möjligt med att redovisa din tid i Treks, så att du kan fokusera på att utföra ditt arbete istället. Därför har mycket arbete lagts ner på att göra registreringen så snabb och intuitiv som möjlig.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row features-box">
              <div class="col-md-1"></div>
              <div class="col-md-8">
                <h5 class="service-heading text-muted">Rapporter</h5>
                <h4 class="service-heading">Överblick och fördjupning</h4>
                <p class="text-muted">Med rapporterna i Treks kan du snabb få en överblick över den redovisade tiden. Du kan se tider utifrån medarbetare eller kund och projekt. Vi beräknar debitering och kostnad automatiskt.</p>
              </div>
              <div class="col-md-2">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row features-box">
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-euro fa-stack-1x fa-inverse"></i>
                </span>
              </div>
              <div class="col-md-8">
                <h5 class="service-heading text-muted">Fakturering och löner</h5>
                <h4 class="service-heading">Integration med faktura och löneprogram</h4>
                <p class="text-muted">Överför tids- och lönedata från Treks direkt till ert löneprogram och spara tid på administration.
                  Fakturor kan skickas direkt från Treks eller underlaget överföras till ert faktureringsprogram.</p>
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row features-box">
              <div class="col-md-1"></div>
              <div class="col-md-8">
                <h5 class="service-heading text-muted">Gamification</h5>
                <h4 class="service-heading">Nytta och nöje</h4>
                <p class="text-muted">Treks skapar engagemang kring tidsrapporteringen genom att använda både tävlingsmoment och prestationsbaserade belöningar.</p>
              </div>
              <div class="col-md-2">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="col-md-1"></div>
            </div>

          </div>
        </div>
    </section>
