<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="img/logos/treks-logo-white.png" class="img-responsive img-logo" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Funktioner</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Säkerhet</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Priser</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Teamet</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://app.treks.se/sv/login">Logga in</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Tid är pengar!</div>
                <div class="intro-lead-in">Treks är tidsredovisningsprogrammet speciellt framtaget för konsultverksamhet</div>
                <a href="https://app.treks.se/sv/signup" class="page-scroll btn btn-xl">Skapa konto på en minut</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
