<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="{{ "/img/logos/treks-logo-white.png" | prepend: site.baseurl }}" class="img-responsive img-logo" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#security">Security</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://app.treks.se/en/login">Sign in</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Time is money!</div>
                <div class="intro-lead-in">Treks is the time reporting service especially developed for consulting agencies.</div>
                <div class="row">
                  <a href="https://app.treks.se/en/signup" class="page-scroll btn btn-xl">Get started for free</a>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <p class="text-left" style="font-style: italic;"><br/>Also availble on</p>
                    <a href="https://play.google.com/store/apps/details?id=se.treks&amp;utm_source=global_co&amp;utm_medium=prtnr&amp;utm_content=Mar2515&amp;utm_campaign=PartBadge&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="200" style="margin-left: -28px;" /></a>
                    <a href="https://itunes.apple.com/se/app/treks-time-reporting/id1161644878?l=en&amp;mt=8" target="_blank"><img align="none" height="51" src="https://gallery.mailchimp.com/a63a1d86532532c203a64ebff/images/9e8d7f98-b602-4583-89b7-71075590785b.png" style="width: 174px; height: 51px; margin: 14px;" width="174" /></a>
                  </div>
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
