<!-- Team Section -->
<section id="paid" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Paid version</h2>
                <h3 class="section-subheading text-muted">Awesome features for a small price.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="service-heading">Reports</h4>

                <p class="text-muted">
                    Important KPIs and statistics in beatiful reports. Profit/loss reports for customer and co-workerks. Graphs that shows contribution margin and utilization, compared to last year's figures.
                </p>

                <h4 class="service-heading">Export</h4>

                <p class="text-muted">
                    Export salary data to your salary software. You can also export invoicing data or have Treks send the invoices to your customers directly.
                </p>

                <h4 class="service-heading">Multiple users</h4>

                <p class="text-muted">
                    More than 5 users. You can also put users in groups and assign a manager for that group.
                </p>

                <h4 class="service-heading">Planning</h4>

                <p class="text-muted">
                    With the planning feature you can estimate the probability that your co-workers have coming assignments. This way you get a quick overview for which co-worker you need to put the most effort in finding a new assingment.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted"></p>
            </div>
        </div>
    </div>
</section>
