<!-- Team Section -->
    <section id="paid" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Betalversion</h2>
                    <h3 class="section-subheading text-muted">När du väljer att köpa Treks får du följande funktioner.</h3>
                </div>
            </div>
            <div class="row">
		<div class="col-lg-12 text-center">
				<h4 class="service-heading">Rapporter</h4>

			<p class="text-muted">
Viktiga nyckeltal och statistik presenterade i vackra rapporter. Bland annat får du profit/loss rapport för både kunder och medarbetare. Täckningsbidrag och beläggningsgrad presenteras i grafer med jämförelse med föregående år.
			</p>

<h4 class="service-heading">Export</h4>

			<p class="text-muted">
Exportera löneunderlagt direkt till ditt lönesystem. Du kan även exportera faktureringsunderlag eller skicka fakturorna direkt från Treks.
			</p>

<h4 class="service-heading">Fler användare</h4>

			<p class="text-muted">
Du kan ha fler än 5 användare och kan gruppera dessa under en konsultansvarig.
			</p>

<h4 class="service-heading">Plannering</h4>

			<p class="text-muted">
Med planeringsmodulen kan du plannera kommande beläggning för dina medarbetare. Du kan till dela dem ett potitiella uppdrag med en viss sannolikhet för att affären ska gå i lås. På så sätt har du en bra överblick över vilka medarbetera som du behöver jobba hårdast med att få i uppdrag.
			</p>
		</div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>
