<!-- Pricing Section -->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pricing</h2>
                    <h3 class="section-subheading text-muted">Treks is <span class="text-primary">free forever</span>. If you want extra features you can upgrade to the <a href="{{ "/paid#paid" | prepend: site.baseurl }}">paid version</a>.</h3>
                    <h3 class="section-subheading text-muted">Treks follows your pace. As your company grows, the price gets reduced. Contact us for large volume discounts.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                  <div class="row">
                    <div class="col-md-12">

                      <div class="row pricing-box">
                        <div><h4>Small teams</h4></div>
                        <div class="price-push">
                          <div><h1>Free</h1></div>
                        </div>
                        <div class="text-muted">
                          <p>up to 5 users</p>
                          <p><a href="https://app.treks.se/en/signup" class="btn btn-xl">Sign up</a></p>
                          <p>no credit card needed</p>
                        </div>
                      </div>

                      <div class="row pricing-box">
                        <div><h4>Growing teams</h4></div>
                        <div class="price-push">
                          <div><h1>€10</h1></div>
                          <div><h4>per user</h4></div>
                        </div>
                        <div class="text-muted">
                          <p>per month</p>
                          <p><a href="https://app.treks.se/en/signup" class="btn btn-xl">Sign up</a></p>
                          <p>no credit card needed</p>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>
            </div>
        </div>
    </section>
