<!-- Pricing Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pricing</h2>
                    <h3 class="section-subheading text-muted">Treks follows your pace. As your company grows, the price gets reduced.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-tag fa-stack-1x"></i>
                  </span>
                  <p class="text-muted">Price per month excluding VAT</p>
                  <div class="row">
                    <div class="col-md-3 text-center">
                    </div>
                    <div class="col-md-6 text-center">
                      <div class="row">
                        <div class="col-md-6">
                          <h4 class="text-muted">1+ persons</h4>
                        </div>
                        <div class="col-md-6">
                          <h4 class="text-muted">€10 per person</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <h4 class="text-muted">10+ persons</h4>
                        </div>
                        <div class="col-md-6">
                          <h4 class="text-muted">€8 per person</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <h4 class="text-muted">25+ persons</h4>
                        </div>
                        <div class="col-md-6">
                          <h4 class="text-muted">€7 per person</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <h4 class="text-muted">50+ persons</h4>
                        </div>
                        <div class="col-md-6">
                          <h4 class="text-muted">€6 per person</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 text-center">
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </section>
