<!-- Team Section -->
<section id="slack" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Slack Integration</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="text-muted">
                  By integrating Treks and Slack you can take advantage of some extra features for your team.
                  The Slack app is a companion to our service. With our app you can enter and edit your daily hours from within Slack.
                  You can also lock the period and receive reminders when you've forgotten to do so.
                </p>
                <p class="text-muted">
                  We're constantly adding more features to our Slack app. Watch this page for more information.
                </p>
                <p class="text-muted">
                  Add our app to your Slack. Click the button
                  <br/><br/>
                  <div class="slackbutton"><a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot,users:read&client_id=2536292111.80582006774"><img src="{{ "/img/Slack_Mark_Web.png" | prepend: site.baseurl }}">Add Treks to Slack</a></div>
                </p>

                <br/>
                <h3 style="margin-bottom: 30px;">Chat commands</h3>

                <div class="row slash-command">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-5 text-primary text-left">
                            help
                          </div>
                          <div class="col-lg-7 text-muted text-left">
                            Displays usage information. Basically it's the same as you're reading here.
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row slash-command">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-5 text-primary text-left">
                            log
                          </div>
                          <div class="col-lg-7 text-muted text-left">
                            Log today's hours. The bot will ask you for hours and project.
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row slash-command">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-5 text-primary text-left">
                            log &lt;yymmdd|mmdd|dd&gt; &lt;hours&gt; &lt;project&gt;
                          </div>
                          <div class="col-lg-7 text-muted text-left">
                            Log hours on the specific date and project.
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row slash-command">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-5 text-primary text-left">
                            log &lt;hours&gt; &lt;project&gt;
                          </div>
                          <div class="col-lg-7 text-muted text-left">
                            Log today's hours on a specific project.
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row slash-command">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-5 text-primary text-left">
                            log &lt;hours&gt;
                          </div>
                          <div class="col-lg-7 text-muted text-left">
                            Log today's hours. The bot will ask you for the project.
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row slash-command">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-5 text-primary text-left">
                            lock
                          </div>
                          <div class="col-lg-7 text-muted text-left">
                            Lock the period.
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row slash-command">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-5 text-primary text-left">
                            unlock
                          </div>
                          <div class="col-lg-7 text-muted text-left">
                            Unlock the period.
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row slash-command">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-5 text-primary text-left">
                            list | list projects
                          </div>
                          <div class="col-lg-7 text-muted text-left">
                            List all available projects available to you for logging hours.
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row slash-command">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-5 text-primary text-left">
                            cancel
                          </div>
                          <div class="col-lg-7 text-muted text-left">
                            Stop what you're doing.
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

            </div>
        </div>
    </div>
</section>
