<!-- Team Section -->
<section id="slack" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Slack Integration</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="text-muted">
                  By integrating Treks and Slack you can take advantage of some extra features for your team.
                  The Slack app is a companion to our service. With our app you can enter and edit your daily hours from within Slack.
                  You can also lock the period and receive reminders when you've forgotten to do so.
                </p>
                <p class="text-muted">
                  We're constantly adding more features to our Slack app. Watch this page for more information.
                </p>
                <p class="text-muted">
                  Add our app to your Slack. Click the button
                  <br/>
                  <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot,users:read&client_id=2536292111.80582006774"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
                </p>

                <br/>
                <h3 style="margin-bottom: 30px;">Slash commands</h3>

                <div style="margin-bottom: 40px;"><p class="text-primary">/today x</p> <p class="text-muted">Where x is the total amount of hours you want to report for today. Your most recently used project will be used.</p></div>
                <div style="margin-bottom: 40px;"><p class="text-primary">/today ?</p> <p class="text-muted">Displays the reported time for today</p></div>
                <div style="margin-bottom: 40px;"><p class="text-primary">/yesterday x</p> <p class="text-muted">Where x is the total amount of hours you want to report for yesterday. Your most recently used project will be used.</p></div>
                <div style="margin-bottom: 40px;"><p class="text-primary">/yesterday ?</p> <p class="text-muted">Displays the reported time for yesterday</p></div>
                <div style="margin-bottom: 40px;"><p class="text-primary">/lock</p> <p class="text-muted">Lock the period. If previous period is not locked this will be locked first.</p></div>
                <div style="margin-bottom: 40px;"><p class="text-primary">/unlock</p> <p class="text-muted">Unlock the period. If current period is unlocked then the previous period will be unlocked.</p></div>
            </div>
        </div>
    </div>
</section>
